{% extends "Chirp/chirp.html" %}

{% block title %}
	{{chirp_data.user.username}} says
{% endblock %}

{% block content %}
<div class="row text-xs-center">
    <div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="card">
				<ul class="list-group">
					<li class="list-group-item">
						<h4 class="list-group-item-heading"><a href="/accounts/profile/user/{{chirp_data.user.username}}">{{chirp_data.user.first_name}} {{chirp_data.user.last_name}}</a> <small class="text-muted">@{{chirp_data.user.username}} {{chirp_data.timestamp}}</small></h4>
						<div class="container">
              <p class="list-group-item-text responsive-image" style="word-wrap: break-word;">{{chirp_data.html_tags_edit}}</p>
            </div>
					</li>
				</ul>
			</div>
		</div>
       <div class="col-md-3"></div>
	</div>
{% endblock %}
