{% extends "Chirp/chirp.html" %}

{% block title %}
	Chirp
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-3">
		<div class="card">
			<div class="card-header text-xs-center">
				@{{request.user.username}}
			</div>
			<div class="card-block">
				<h4 class="card-title text-xs-center">
					{{request.user.first_name}} {{request.user.last_name}}
				</h4>
				<table class="table-sm">
					<thead>
						<tr>
							<th>Chirps</th>
							<th>Followers</th>
							<th>Following</th>
						</tr>
					</thead>
					<tbody class="text-xs-center">
						<tr>
							<td>{{user_chirps}}</td>
							<td>{{request.user.profile.followed_by.all.count}}</td>
							<td>{{request.user.profile.follows.all.count}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-header text-xs-center">
				Trends
			</div>
			<div class="card-block">
				<ul class="list-group list-group-flush">
					{% for trend in trends %}
					<li class="list-group-item"><a href="/search?search=%23{{trend.hasgtag|slice:"1:"}}">{{trend.hasgtag}}</a> <small>{{trend.chirp_count}} chirps</small></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card">
			{% if request.user.profile.notification_count %}
			<div class="card-header text-xs-center">
					New Notifications <a href="/notifications/read"><span class="label label-pill label-danger">Read</span></a>
			</div>
				<div class="list-group">
					{% for unread_notif in unread_notifs %}
						<a href='{{unread_notif.url}}' class="list-group-item">
							{{unread_notif.content}} <small>{{unread_notif.timestamp|timesince}} ago.</small>
						</a>
					{% endfor %}
				</div>
				{% endif %}
			<div class="card-footer text-xs-center">
					Read Notifications
			</div>
				<div class="list-group">
					{% for read_notif in read_notifs %}
						<a href='{{read_notif.url}}' class="list-group-item">
							{{read_notif.content}} <small>{{read_notif.timestamp|timesince}} ago.</small>
						</a>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card">
				<div class="card-header text-xs-center">
					Who to Follow
				</div>
				<div class="card-block">
					<ul class="list-group list-group-flush">
						{% for person in who_to_follow %}
							<li class="list-group-item"><a href="/accounts/profile/user/{{person.username}}" class="card-link">@{{person.username}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
